# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

test*

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Database files (caso use sqlite futuramente)
# =========================
*.db
*.sqlite3
